# Advanced MongoDB Aggregations
Demonstrating complex aggregation pipelines across sharded collections

In [1]:
import sys
!{sys.executable} -m pip install pandas pymongo --quiet

from pymongo import MongoClient
import pandas as pd
from datetime import datetime, timedelta
import json

def print_mongo(obj):
    print(json.dumps(obj, indent=2, default=str))

client = MongoClient('mongodb://admin:admin@router1:27017/businessdb?authSource=admin')
db = client.businessdb
print("Connected to MongoDB")

Connected to MongoDB

## Example 1: Industry Analysis with Multi-Stage Pipeline
Complex analysis of organizations by industry, country, and employee count

In [2]:
pipeline = [
    # Stage 1: Group by industry and country
    {"$group": {
        "_id": {
            "industry": "$industry",
            "country": "$country"
        },
        "totalCompanies": {"$sum": 1},
        "totalEmployees": {"$sum": "$numberOfEmployees"},
        "avgEmployees": {"$avg": "$numberOfEmployees"},
        "companies": {"$push": {
            "name": "$name",
            "employees": "$numberOfEmployees"
        }}
    }},
    # Stage 2: Group by industry for summary
    {"$group": {
        "_id": "$_id.industry",
        "totalCountries": {"$sum": 1},
        "totalCompanies": {"$sum": "$totalCompanies"},
        "totalEmployees": {"$sum": "$totalEmployees"},
        "avgEmployees": {"$avg": "$avgEmployees"},
        "countries": {"$push": {
            "country": "$_id.country",
            "totalCompanies": "$totalCompanies",
            "totalEmployees": "$totalEmployees",
            "avgEmployees": "$avgEmployees",
            "companies": "$companies"
        }}
    }}
]

result = db.organizations.aggregate(pipeline)
print_mongo(list(result))

[
  {
    "_id": "Technology",
    "totalCountries": 2,
    "totalCompanies": 101,
    "totalEmployees": 54600,
    "avgEmployees": 322.5,
    "countries": [
      {
        "country": "Country {i % 5}",
        "totalCompanies": 100,
        "totalEmployees": 54500,
        "avgEmployees": 545.0,
        "companies": [
          {
            "name": "Company 0",
            "employees": 50
          },
          {
            "name": "Company 1",
            "employees": 60
          },
          {
            "name": "Company 2",
            "employees": 70
          },
          {
            "name": "Company 3",
            "employees": 80
          },
          {
            "name": "Company 4",
            "employees": 90
          },
          {
            "name": "Company 5",
            "employees": 100
          },
          {
            "name": "Company 6",
            "employees": 110
          },
          {
            "name": "Company 7",
            "employees": 120
          },
          {
            "name": "Company 8",
            "employees": 130
          },
          {
            "name": "Company 9",
            "employees": 140
          },
          {
            "name": "Company 10",
            "employees": 150
          },
          {
            "name": "Company 11",
            "employees": 160
          },
          {
            "name": "Company 12",
            "employees": 170
          },
          {
            "name": "Company 13",
            "employees": 180
          },
          {
            "name": "Company 14",
            "employees": 190
          },
          {
            "name": "Company 15",
            "employees": 200
          },
          {
            "name": "Company 16",
            "employees": 210
          },
          {
            "name": "Company 17",
            "employees": 220
          },
          {
            "name": "Company 18",
            "employees": 230
          },
          {
            "name": "Company 19",
            "employees": 240
          },
          {
            "name": "Company 20",
            "employees": 250
          },
          {
            "name": "Company 21",
            "employees": 260
          },
          {
            "name": "Company 22",
            "employees": 270
          },
          {
            "name": "Company 23",
            "employees": 280
          },
          {
            "name": "Company 24",
            "employees": 290
          },
          {
            "name": "Company 25",
            "employees": 300
          },
          {
            "name": "Company 26",
            "employees": 310
          },
          {
            "name": "Company 27",
            "employees": 320
          },
          {
            "name": "Company 28",
            "employees": 330
          },
          {
            "name": "Company 29",
            "employees": 340
          },
          {
            "name": "Company 30",
            "employees": 350
          },
          {
            "name": "Company 31",
            "employees": 360
          },
          {
            "name": "Company 32",
            "employees": 370
          },
          {
            "name": "Company 33",
            "employees": 380
          },
          {
            "name": "Company 34",
            "employees": 390
          },
          {
            "name": "Company 35",
            "employees": 400
          },
          {
            "name": "Company 36",
            "employees": 410
          },
          {
            "name": "Company 37",
            "employees": 420
          },
          {
            "name": "Company 38",
            "employees": 430
          },
          {
            "name": "Company 39",
            "employees": 440
          },
          {
            "name": "Company 40",
            "employees": 450
          },
          {
            "name": "Company 41",
            "employees": 460
          },
          {
            "name": "Company 42",
            "employees": 470
          },
          {
            "name": "Company 43",
            "employees": 480
          },
          {
            "name": "Company 44",
            "employees": 490
          },
          {
            "name": "Company 45",
            "employees": 500
          },
          {
            "name": "Company 46",
            "employees": 510
          },
          {
            "name": "Company 47",
            "employees": 520
          },
          {
            "name": "Company 48",
            "employees": 530
          },
          {
            "name": "Company 49",
            "employees": 540
          },
          {
            "name": "Company 50",
            "employees": 550
          },
          {
            "name": "Company 51",
            "employees": 560
          },
          {
            "name": "Company 52",
            "employees": 570
          },
          {
            "name": "Company 53",
            "employees": 580
          },
          {
            "name": "Company 54",
            "employees": 590
          },
          {
            "name": "Company 55",
            "employees": 600
          },
          {
            "name": "Company 56",
            "employees": 610
          },
          {
            "name": "Company 57",
            "employees": 620
          },
          {
            "name": "Company 58",
            "employees": 630
          },
          {
            "name": "Company 59",
            "employees": 640
          },
          {
            "name": "Company 60",
            "employees": 650
          },
          {
            "name": "Company 61",
            "employees": 660
          },
          {
            "name": "Company 62",
            "employees": 670
          },
          {
            "name": "Company 63",
            "employees": 680
          },
          {
            "name": "Company 64",
            "employees": 690
          },
          {
            "name": "Company 65",
            "employees": 700
          },
          {
            "name": "Company 66",
            "employees": 710
          },
          {
            "name": "Company 67",
            "employees": 720
          },
          {
            "name": "Company 68",
            "employees": 730
          },
          {
            "name": "Company 69",
            "employees": 740
          },
          {
            "name": "Company 70",
            "employees": 750
          },
          {
            "name": "Company 71",
            "employees": 760
          },
          {
            "name": "Company 72",
            "employees": 770
          },
          {
            "name": "Company 73",
            "employees": 780
          },
          {
            "name": "Company 74",
            "employees": 790
          },
          {
            "name": "Company 75",
            "employees": 800
          },
          {
            "name": "Company 76",
            "employees": 810
          },
          {
            "name": "Company 77",
            "employees": 820
          },
          {
            "name": "Company 78",
            "employees": 830
          },
          {
            "name": "Company 79",
            "employees": 840
          },
          {
            "name": "Company 80",
            "employees": 850
          },
          {
            "name": "Company 81",
            "employees": 860
          },
          {
            "name": "Company 82",
            "employees": 870
          },
          {
            "name": "Company 83",
            "employees": 880
          },
          {
            "name": "Company 84",
            "employees": 890
          },
          {
            "name": "Company 85",
            "employees": 900
          },
          {
            "name": "Company 86",
            "employees": 910
          },
          {
            "name": "Company 87",
            "employees": 920
          },
          {
            "name": "Company 88",
            "employees": 930
          },
          {
            "name": "Company 89",
            "employees": 940
          },
          {
            "name": "Company 90",
            "employees": 950
          },
          {
            "name": "Company 91",
            "employees": 960
          },
          {
            "name": "Company 92",
            "employees": 970
          },
          {
            "name": "Company 93",
            "employees": 980
          },
          {
            "name": "Company 94",
            "employees": 990
          },
          {
            "name": "Company 95",
            "employees": 1000
          },
          {
            "name": "Company 96",
            "employees": 1010
          },
          {
            "name": "Company 97",
            "employees": 1020
          },
          {
            "name": "Company 98",
            "employees": 1030
          },
          {
            "name": "Company 99",
            "employees": 1040
          }
        ]
      },
      {
        "country": "Czech Republic",
        "totalCompanies": 1,
        "totalEmployees": 100,
        "avgEmployees": 100.0,
        "companies": [
          {
            "name": "Test Company",
            "employees": 100
          }
        ]
      }
    ]
  }
]